<img [src]="logo"/>

<h1 align="center">Hello SIP ACADEMY</h1>

<b class="classFormateur">Formatteur : {{formateur}}</b>
<br/>
<span>Organisme : {{organisme}}</span>

<h5>Total hours : {{nbreHeures}}</h5>

<ul>
  <li *ngFor="let stagiaire of stagiaires">{{stagiaire | uppercase}}</li>
</ul>

<button class="btn btn-success" (click)="display()"> cliquer ici </button>

<hr/>
<app-users></app-users>

<button class="btn btn-primary" (click)="toggle()"> show/hide </button>
<div style="border:dotted red 2px; background-color: aqua;" *ngIf="show">
  Une formation sur 3 frameworks : Spring, Angular et React Native!
</div>